*,
*::before,
*::after {
  box-sizing: content-box;
}

#header-nav ul li a.active {
  text-decoration: underline;
}

body {
  margin: 0;
  background-color: lightgray;
  font-family: sans-serif;
  margin-top: 80px;
}

header {
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: center;
  position: fixed;
  height: 80px;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  background-color:lightblue;
  padding: 0 20px;
}

#header-nav ul {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
  margin: 0;
  height: 100%;
}

#header-nav ul li {
  list-style: none;
}

#header-nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
}

main {
  margin: 100px auto 0;
  width: clamp(620px, 80%, 1080px);
  padding: 20px;
  background-color: white;
  min-height: 80vh;
}