*,
*::before,
*::after {
  box-sizing: content-box;
}

#header-nav ul li a.active {
  text-decoration: underline;
}

body {
  background-image: url("https://www.startpage.com/sp/sxpra?url=https%3A%2F%2Fupload.wikimedia.org%2Fwikipedia%2Fcommons%2Fthumb%2F5%2F54%2FSaas-Grund.jpg%2F1200px-Saas-Grund.jpg");
  background-position: center top;
  background-size: cover;
  margin: 0;
  background-color: lightgray;
  font-family: sans-serif;
  margin-top: 80px;
}

header {
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: center;
  position: fixed;
  height: 80px;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  background-color:lightblue;
  padding: 0 20px;
}

#header-nav ul {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
  margin: 0;
  height: 100%;
}

#header-nav ul li {
  list-style: none;
}

#header-nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
}

main {
  margin: 100px auto 0;
  width: clamp(620px, 80%, 1080px);
  padding: 20px;
  min-height: 80vh;
  background-color: rgba(255, 255, 255, 0.39);
}

main h2 {
  text-align: center;
}

#photo-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 2rem;
}

#photo-grid img {
  width: 100%;
  border: 2px solid black;
  transition: transform 600ms ease-in-out;
}

#photo-grid img:hover {
  transform: scale(2);
}
#photo-grid img:hover:nth-child(3n + 1) {
  transform: scale(2) translateX(25%);
}
#photo-grid img:hover:nth-child(3n) {
  transform: scale(2) translateX(-25%);
}
#section { 
  justify-content: center;

}

mark {
  background-color: rgba(91, 212, 223, 0.4);
  font-size: medium;
  padding: 2px 10px;
  border-radius: 0.5em;
}